.header {
    padding:  5px;
    margin-bottom: 25px;
    font-size: 25px;

    text-align: center;
    font-family: Impact;
    border-style: solid;

    border-color: #440011;
    background: #ff0066;
    color: white;
}

canvas {
    width:75px;
    height:100px;
    border:1px solid #000000;
}

#deck{
    width:75px;
    height:100px;
    border:1px solid #000000;
}

#login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#login > div{
    width: 40%;
    height:auto;
    padding:5px;
    margin:25px;
    text-align: center;

    border-style: solid;
    border-color: #ff6600;
    background: #ffb787;
}
#submit{
    width:90%;
    height:75px;
    border:1px solid #000000;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #eeeeee;

    border-style: solid;
    border-color: #ff0066;
}
#container > div {
    display: inline-block;
    vertical-align:top;
    width: 40%;
    height:300px;
    padding:5px;
    margin:25px;
    text-align: center;

    border-style: solid;
    border-color: #ff0066;
    background: #dddddd;
}


.footer {
    padding:  5px;
    margin-top: 25px;
    font-size: 25px;

    text-align: center;
    font-family: Impact;
    border-style: solid;

    border-color: #440011;
    background: #ff0066;
    color: white;

    left:10px;
    right:10px;
    bottom:10px;
}